.slider-img {
  background-image: url(../images/slider1.jpg);
  margin-top: 20px;
  height: 400px;
  width: 1000px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.slider-img a {
  background-color: rgba(36, 32, 27, 0.7);
  width: 200px;
  height: 130px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 10px;
}
ul.menu-news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}
ul.menu-news li {
  background-color: #67a63d;
  width: 100%;
  padding: 10px;
  border-left: 2px solid #50812f;
}
ul.menu-news li:first-child {
  border: none;
}
.foots-general {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: -1;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(../images/back1.jpg);
  color: #ffffff;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 13px;
  text-align: center;
  cursor: url(../images/cursor.png), default;
}
a {
  text-decoration: none;
  color: #ffffff;
}
ul {
  list-style: none;
}
.content {
  background-color: rgba(0, 0, 0, 0.6);
  width: 1000px;
  margin: 0 auto;
  padding: 5px 30px;
}
.top-info {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.top-info .language-site {
  font-size: 11px;
}
.top-info .language-site a {
  color: #51ac61;
  text-decoration: underline;
}
.top-info .language-site a.active-a {
  color: #dfd73a;
  text-decoration: none;
}
header {
  background-color: rgba(0, 0, 0, 0.6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
ul.menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-ditection: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
ul.menu-list li.dynopark {
  width: 113px;
}
ul.menu-list li:first-child.first-list {
  border: none;
  border-top-left-radius: 10px;
}
ul.menu-list li:last-child.first-list {
  border-top-right-radius: 10px;
}
ul.menu-list li.first-list {
  min-width: 60px;
  background-color: #67a63d;
  padding: 20px 26px 20px 20px;
  border-left: 2px solid #50812f;
  font-size: 15px;
}
ul.menu-list li.first-list ul.submenu-second {
  display: none;
}
ul.menu-list li.first-list ul.submenu-second ul.submenu-third {
  display: none;
}
ul.menu-list li:hover.first-list {
  background-color: #dfd73a;
}
ul.menu-list li:hover.first-list ul.submenu-second.dynopark {
  width: 148px;
}
ul.menu-list li:hover.first-list ul.submenu-second {
  font-size: 12px;
  display: block;
  position: absolute;
  width: 200px;
  background-color: rgba(28, 112, 28, 0.9);
  margin: -3px 0px 0px -20px;
  padding: 0px;
  line-height: 30px;
  top: 100px;
}
ul.menu-list li:hover.first-list ul.submenu-second li {
  margin: 0px;
  width: 100%;
  line-height: 20px;
  padding: 5px 0px;
}
ul.menu-list li:hover.first-list ul.submenu-second li a {
  color: #67a63d;
}
ul.menu-list li:hover.first-list ul.submenu-second li:hover {
  width: 100%;
  background-color: #67a63d;
  line-height: 20px;
}
ul.menu-list li:hover.first-list ul.submenu-second li:hover a {
  color: #dfd73a;
}
ul.menu-list li:hover.first-list ul.submenu-second li:hover ul.submenu-third {
  font-size: 12px;
  display: block;
  position: absolute;
  width: 200px;
  background-color: rgba(28, 112, 28, 0.9);
  margin: -3px 0px 0px -20px;
  padding: 0px;
  line-height: 30px;
  left: 220px;
  top: 3px;
}
li:hover a.gr-wo {
  color: rgba(28, 112, 28, 0.9);
}
.foto-foot-first {
  background: url(../images/foot1.png) center center no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: -1;
}
.first-foot1 {
  top: 0px;
  left: 0px;
  transform: rotate(120deg);
}
.first-foot2 {
  top: 100px;
  left: 100px;
  transform: rotate(60deg);
}
.first-foot3 {
  top: 50px;
  left: 1200px;
  transform: rotate(120deg);
}
.first-foot4 {
  top: 120px;
  left: 1200px;
  transform: rotate(50deg);
}
.first-foot5 {
  top: 300px;
  left: 1120px;
  transform: rotate(20deg);
}
.first-foot6 {
  top: 500px;
  left: 1200px;
  transform: rotate(125deg);
}
.first-foot7 {
  top: 100px;
  left: 1000px;
  transform: rotate(125deg);
}
.first-foot8 {
  top: 100px;
  left: 2410px;
  transform: rotate(120deg);
}
.first-foot9 {
  top: 900px;
  left: 3400px;
  transform: rotate(125deg);
}
.first-foot10 {
  top: 600px;
  left: 3400px;
  transform: rotate(200deg);
}
.foto-foot-second {
  background: url(../images/foot2.png) center center no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: -1;
}
.second-foot1 {
  top: 20px;
  left: 100px;
  transform: rotate(-30deg);
}
.second-foot2 {
  top: 180px;
  left: 0px;
  transform: rotate(20deg);
}
.second-foot3 {
  top: 70px;
  left: 1130px;
  transform: rotate(20deg);
}
.second-foot4 {
  top: 500px;
  left: 70px;
  transform: rotate(20deg);
}
.second-foot5 {
  top: 300px;
  left: 50px;
  transform: rotate(-10deg);
}
.second-foot6 {
  top: 400px;
  left: 1200px;
  transform: rotate(40deg);
}
.foto-foot-third {
  background: url(../images/foot3.png) center center no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: -1;
}
.third-foot1 {
  top: 70px;
  left: 40px;
  transform: rotate(240deg);
}
.third-foot2 {
  top: 400px;
  left: 20px;
  transform: rotate(100deg);
}
.third-foot3 {
  top: 250px;
  left: 100px;
  transform: rotate(220deg);
}
.third-foot4 {
  top: -10px;
  left: 1150px;
  transform: rotate(-100deg);
}
.third-foot5 {
  top: 200px;
  left: 1170px;
  transform: rotate(40deg);
}
.third-foot6 {
  top: 300px;
  left: 1220px;
  transform: rotate(295deg);
}
@media only screen and (min-width: 845px) and (max-width: 1078px) {
  .foot-animals {
    display: none;
  }
  .content {
    width: 768px;
  }
  ul.menu-list li.first-list {
    padding: 10px;
    font-size: 12px;
  }
  ul.menu-list li.first-list:hover ul.submenu-second {
    margin-top: -26px;
    margin-left: -10px;
  }
  ul.menu-list li.first-list:hover ul.submenu-second.dynopark {
    width: 131px;
  }
  .slider-img {
    width: 768px;
  }
  ul.menu-news {
    font-size: 12px;
  }
  ul.menu-news li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
}
@media only screen and (min-width: 10px) and (max-width: 844px) {
  .foot-animals {
    display: none;
  }
  .content {
    width: 90%;
  }
  .slider-img {
    width: auto;
  }
  ul.menu-list {
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
  }
  ul.menu-list li {
    display: flex;
    min-width: 100px;
    justify-content: center;
    flex-grow: 1;
  }
  ul.menu-list li.first-list {
    border-left: none;
    border-radius: none;
  }
}
