.slider-img {
  height: 420px;
  background-image: url(../images/slider1.jpg);
  background-repeat: no-repeat;
  border-radius: 10px;
}
.slider-img img {
  background-color: rgba(36, 32, 27, 0.5);
  padding-right: 10px;
  padding-bottom: 15px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 10px;
  margin-bottom: 20px;
}
.menu-news li {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 100;
  padding: 10px 15px;
  line-height: 20px;
  background: #80c155;
  margin-left: -5px;
  border-left: 2px solid #50812f;
}
.menu-news li:first-child {
  margin: 0px;
  border: none;
  padding-left: 20px;
}
.menu-news a {
  text-decoration: none;
  color: white;
}
header ul.menu-news {
  padding: 0px;
}
.wrapper {
  display: flex;
  width: 950px;
}
.left-column {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  margin-right: 50px;
}
.right-column {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.text-yellow {
  color: #dfd73a;
}
.text-uppercase {
  text-transform: uppercase;
}
.wrapper {
  line-height: 20px;
  font-size: 16px;
}
.wrapper a {
  text-decoration: none;
}
body {
  font-family: Tahoma, Geneva, sans-serif;
  background-image: url(../images/back1.jpg);
  color: #ffffff;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  cursor: url(../images/cursor.png), default;
}
.content {
  width: 1000px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 50px;
}
header {
  margin: 0 50px 0 10px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.language-site {
  display: inline-block;
  width: 440px;
  line-height: 30px;
  text-align: right;
}
.language-site a {
  font-size: 10px;
  color: #67a63d;
}
.time-work {
  width: 500px;
  float: left;
  font-size: 12px;
  line-height: 30px;
}
body a.active-a {
  text-decoration: none;
  color: #dfd73a;
}
header ul {
  list-style: none;
}
.foto-foot-first {
  background: url(../images/foot1.png) center center no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: -1;
}
.first-foot1 {
  top: 0px;
  left: 0px;
  transform: rotate(120deg);
}
.first-foot2 {
  top: 100px;
  left: 100px;
  transform: rotate(60deg);
}
.first-foot3 {
  top: 50px;
  left: 1200px;
  transform: rotate(120deg);
}
.first-foot4 {
  top: 120px;
  left: 1200px;
  transform: rotate(50deg);
}
.first-foot5 {
  top: 300px;
  left: 1120px;
  transform: rotate(20deg);
}
.first-foot6 {
  top: 500px;
  left: 1200px;
  transform: rotate(125deg);
}
.first-foot7 {
  top: 100px;
  left: 1000px;
  transform: rotate(125deg);
}
.first-foot8 {
  top: 100px;
  left: 2410px;
  transform: rotate(120deg);
}
.first-foot9 {
  top: 900px;
  left: 3400px;
  transform: rotate(125deg);
}
.first-foot10 {
  top: 600px;
  left: 3400px;
  transform: rotate(200deg);
}
.foto-foot-second {
  background: url(../images/foot2.png) center center no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: -1;
}
.second-foot1 {
  top: 20px;
  left: 100px;
  transform: rotate(-30deg);
}
.second-foot2 {
  top: 180px;
  left: 0px;
  transform: rotate(20deg);
}
.second-foot3 {
  top: 70px;
  left: 1130px;
  transform: rotate(20deg);
}
.second-foot4 {
  top: 500px;
  left: 70px;
  transform: rotate(20deg);
}
.second-foot5 {
  top: 300px;
  left: 50px;
  transform: rotate(-10deg);
}
.second-foot6 {
  top: 400px;
  left: 1200px;
  transform: rotate(40deg);
}
.foto-foot-third {
  background: url(../images/foot3.png) center center no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: -1;
}
.third-foot1 {
  top: 70px;
  left: 40px;
  transform: rotate(240deg);
}
.third-foot2 {
  top: 400px;
  left: 20px;
  transform: rotate(100deg);
}
.third-foot3 {
  top: 250px;
  left: 100px;
  transform: rotate(220deg);
}
.third-foot4 {
  top: -10px;
  left: 1150px;
  transform: rotate(-100deg);
}
.third-foot5 {
  top: 200px;
  left: 1170px;
  transform: rotate(40deg);
}
.third-foot6 {
  top: 300px;
  left: 1220px;
  transform: rotate(295deg);
}
.menu-list li.first-list {
  display: inline-block;
}
header ul.menu-list {
  margin: 0px 0px 10px 0px;
  padding: 0px;
}
.menu-list .first-list > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 20px 20px;
  line-height: 60px;
  background: #67a63d;
  margin-left: -5px;
  border-left: 2px solid #50812f;
}
.menu-list .about-us a {
  margin: 0px;
}
.menu-list .first-list > a:hover {
  background: #dfd73a;
}
ul.menu-list li ul {
  display: none;
}
ul.menu-list li:hover ul {
  font-size: 12px;
  display: block;
  position: absolute;
  width: 200px;
  background-color: rgba(28, 112, 28, 0.9);
  margin: 0px;
  padding: 10px;
  line-height: 30px;
}
ul.menu-list li:hover ul a {
  display: block;
  width: 200px;
  text-decoration: none;
  background: none;
}
ul.menu-list li.first-list ul.submenu-second li ul.submenu-third {
  display: none;
}
ul.menu-list li:hover.first-list ul.submenu-second li:hover ul.submenu-third {
  font-size: 12px;
  display: block;
  position: absolute;
  top: 0px;
  left: 220px;
  width: 200px;
  background-color: rgba(28, 112, 28, 0.9);
  margin: 0px;
  padding: 10px;
  line-height: 30px;
}
ul.menu-list li:hover ul a {
  display: block;
  width: 200px;
  text-decoration: none;
  background: none;
}
.menu-list li a.gr-wo:hover {
  color: #228b22;
}
.menu-list li:first-child.first-list > a {
  border: none;
  border-top-left-radius: 10px;
}
.menu-list li:last-child.first-list > a {
  border-top-right-radius: 10px;
  background: #51ac61;
}
header .menu-list li ul a {
  background-color: rgba(38, 153, 38, 0.9);
  padding: 10px;
  line-height: 10px;
  margin-left: -10px;
  line-height: 20px;
  color: #80c155;
}
header .menu-list li ul a:hover {
  background-color: rgba(38, 153, 38, 0.9);
  padding: 10px;
  line-height: 10px;
  margin-left: -10px;
  line-height: 20px;
  color: #80c155;
  color: #dfd73a;
}
header .menu-list li ul.menu-about-us a {
  margin-left: -10px;
}
header .menu-list li.dynopark ul {
  width: 90px;
}
header .menu-list li.dynopark ul a:hover {
  width: 90px;
}
.foots-general {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: -1;
}
.properties-submenu {
  background-color: rgba(38, 153, 38, 0.9);
  padding: 10px;
  line-height: 10px;
  margin-left: -10px;
  line-height: 20px;
  color: #80c155;
}
.properties-submenu-unactive {
  display: block;
  width: 200px;
  text-decoration: none;
  background: none;
}
