@foot1: url(../images/foot1.png) center center no-repeat;
@foot2: url(../images/foot2.png) center center no-repeat;
@foot3: url(../images/foot3.png) center center no-repeat;
@bg-body-img: url(../images/back1.jpg);
@cursor-img: url(../images/cursor.png);
@slider-img: url(../images/slider1.jpg);

body {
	margin:0;
	padding:0;
	background-image: @bg-body-img;
	color:@white;
	font-family: Tahoma, Geneva, sans-serif;
  font-size: 13px;
  text-align: center;
  cursor: @cursor-img, default;
}
a {
	text-decoration:none;
	color: @white;
}
ul {
	list-style: none;
}
.content {
	background-color: @black-with-opacity;
	width:1000px;
	margin:0 auto;
	padding: 5px 30px;
}
.top-info {
	margin-bottom: 10px;
	margin-top: 10px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:flex-start;
	.time-work {

	}
	.language-site {
		font-size: 11px;
		a {
			color: @color-dyno;
			text-decoration: underline;
			&.active-a {
				color: @yellow-hover;
				text-decoration: none;
			}
		}
	}
}
header {
	background-color: darken(@black-with-opacity, 10%);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
ul.menu-list {
	margin: 0;
	padding: 0;
	display:flex;
	flex-ditection: row;
	justify-content:space-between;
	flex-wrap:nowrap;
	li{
		&.dynopark {
			width: 113px;
			}
		&:first-child.first-list{
			border: none;
			border-top-left-radius: 10px;
		}
		&:last-child.first-list{
			border-top-right-radius: 10px;
		}
		&.first-list{
			min-width: 60px;
			background-color: @color-menu;
			padding: 20px 26px 20px 20px;
			border-left: 2px solid darken(@color-menu, 10%);
			font-size: 15px;
			ul.submenu-second {
				display:none;
				ul.submenu-third {
					display:none;
				}
			}
		}
		&:hover.first-list {
			background-color: @yellow-hover;
			ul.submenu-second.dynopark {
				width:148px;
			}
			ul.submenu-second {
				font-size: 12px;
				display: block;
				position: absolute;
				width: 200px;
				background-color: @color-bg-submenu;
			  margin: -3px 0px 0px -20px;
				padding:0px;
				line-height: 30px;
				top:100px;
				li {
					margin:0px;
					width: 100%;
					line-height: 20px;
					padding: 5px 0px;
					a {
						color:@color-menu;
					}
					&:hover {
						width: 100%;
						background-color: @color-menu;
						line-height: 20px;
						a {
							color:@yellow-hover;
						}
						ul.submenu-third {
							font-size: 12px;
							display: block;
							position: absolute;
							width: 200px;
							background-color: @color-bg-submenu;
						  margin: -3px 0px 0px -20px;
							padding:0px;
							line-height: 30px;
							left:220px;
							top: 3px;
						}
					}
				}
			}
		}
	}
}
li:hover a.gr-wo{
	color: @color-bg-submenu;
}
.foto-foot-first {
	background: @foot1;
	.foots-general;
}
.first-foot1 {
	.foots-position (0px,0px, 120deg);
}
.first-foot2 {
	.foots-position (100px,100px, 60deg);
}
.first-foot3 {
	.foots-position (50px,1200px,120deg);
}
.first-foot4 {
	.foots-position (120px, 1200px, 50deg);
}
.first-foot5 {
	.foots-position (300px, 1120px, 20deg);
}
.first-foot6 {
	.foots-position (500px, 1200px, 125deg);
}
.first-foot7 {
	.foots-position (100px, 1000px, 125deg);
}
.first-foot8 {
	.foots-position (100px, 2410px, 120deg);
}
.first-foot9 {
	.foots-position (900px, 3400px, 125deg);
}
.first-foot10 {
	.foots-position (600px, 3400px, 200deg);
}
.foto-foot-second {
	background: @foot2;
	.foots-general;
}
.second-foot1 {
	.foots-position (20px, 100px, -30deg);
}
.second-foot2 {
	.foots-position (180px, 0px, 20deg);
}
.second-foot3 {
	.foots-position (70px, 1130px, 20deg);
}
.second-foot4 {
	.foots-position (500px, 70px, 20deg);
}
.second-foot5 {
	.foots-position (300px, 50px, -10deg);
}
.second-foot6 {
	.foots-position (400px,1200px, 40deg);
}
.foto-foot-third {
	background: @foot3;
	.foots-general;
}
.third-foot1 {
	.foots-position (70px,40px, 240deg);
}
.third-foot2 {
	.foots-position (400px,20px, 100deg);
}
.third-foot3 {
.foots-position (250px,100px, 220deg);
}
.third-foot4 {
.foots-position (-10px,1150px, -100deg);
}
.third-foot5 {
	.foots-position (200px,1170px, 40deg);
}
.third-foot6 {
	.foots-position (300px,1220px, 295deg);
}


//845px-1078px


@media only screen and (min-width:845px) and (max-width: 1078px){
	.foot-animals {
		display: none;
	}

	.content {
		width: 768px;
	}

	ul.menu-list li.first-list {
		padding:10px;
		font-size: 12px;

		&:hover ul.submenu-second {
			margin-top: -26px;
			margin-left: -10px;

			&.dynopark {
				width: 131px;

			}
		}
	}

	.slider-img {
		width: 768px;

	}

	ul.menu-news {
		font-size: 12px;

		li {
			display: flex;
			align-items:center;
			justify-content:center;
			padding: 5px;

		}
	}
}



@media only screen and (min-width:10px) and (max-width:844px){
	.foot-animals {
		display: none;
	}
	.content {
		width: 90%;
	}
	.slider-img {
		width: auto;
	}

	ul.menu-list {
		flex-wrap:wrap;
		padding: 0px;
		margin: 0px;
		li{
			display: flex;
			min-width: 100px;
			justify-content:center;
			flex-grow:1;
			&.first-list{
				border-left:none;
				border-radius: none;
			}
		}
	}
}


