@slider-img: url(../images/slider1.jpg);

.slider-img{
	height: 420px;
	background-image: @slider-img;
	background-repeat: no-repeat;
	border-radius: 10px;
}
.slider-img img {
	background-color: @color-logo;
	padding-right: 10px;
	padding-bottom: 15px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 10px;
	margin-bottom: 20px;
}
.menu-news li{
	display: inline-block;
	text-decoration: none;
	color:white;
	font-size: 15px;
	font-weight: 100;
	padding: 10px 15px;
	line-height: 20px;
	background: lighten(@color-menu, 10%);
	margin-left:-5px;
	border-left: 2px solid darken(@color-menu, 10%);
}
.menu-news li:first-child{
	margin: 0px;
	border: none;
	padding-left: 20px;
}
.menu-news a {
	text-decoration: none;
	color:white;
}
header ul.menu-news{
	padding: 0px;
}
.wrapper {
	display:flex;
	width:950px;
	line-height: 20px;
	font-size: 16px;
	a {
		text-decoration: none;
	}
}
.left-column {
	width:50%;
	display:flex;
	flex-flow: column wrap;
	margin-right: 50px;
}
.right-column {
	width:50%;
	display: flex;
	flex-flow:column wrap;
	h2.text-yellow-bg{
		color:@yellow-bg-menu;
		display: flex;
		align-items: center;
	}
}
.text-yellow {
	color:@yellow-hover;
}
.text-uppercase {
	text-transform: uppercase;
}
.news1{
	display: flex;
	flex-flow:row nowrap;
}
